.content {
	max-height: calc(
		100vh -
			(var(--top-height) + var(--base-padding) * 4 + var(--base-margin) * 2)
	);
}

.mid-header {
	--thick-border-width: 3px;
	width: fit-content;
	font-size: 1.5em;
}

.thread-container,
#search-container {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(1em, auto));
	gap: var(--base-margin);
	margin-top: calc(var(--base-margin) - 3px);
	max-height: inherit;
	overflow: auto;
	scrollbar-width: none;
}

#search-container {
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease;
}

#search-results {
	overflow: auto;
}

.list-item {
	background-color: var(--main-bg-color-darker-1);
	padding: calc(var(--base-padding) / 2) var(--base-padding)
		calc(var(--base-padding) / 2) var(--base-padding);
	word-break: break-all;
	cursor: pointer;
}

.new-item {
	animation: add-div 0.3s linear;
}

.list-item:hover {
	background-color: var(--main-bg-color-darker-2);
}

#top-bar {
	background-color: var(--main-bg-color-darker-3);
	min-height: var(--top-height);
	line-height: var(--top-height);
	padding: var(--base-padding);
	overflow: auto;
}

#top-search {
	float: right;
}

#top-menu {
	float: left;
}

.userpage > #userthreads > .thread-container {
	margin-top: 0;
}

#userthreads {
	grid-area: userthreads;
}

#watched-user-threads {
	grid-area: watched-user-threads;
}

#search-results {
	grid-area: search-results;
}

#recent-users {
	text-align: center;
	margin: var(--thick-border-width) 0 0 0;
}

#your-threads,
#followed-threads {
	text-align: center;
	margin: var(--base-margin) 0;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--base-margin) * 3);
	margin: 0 calc(2 * var(--base-margin));
	grid-template-areas: "userthreads watched-user-threads search-results";
}

.index {
	margin: calc(2 * var(--base-margin)) calc(2 * var(--base-margin));
}

#header-container {
	grid-area: header-container;
	width: 100%;
	text-align: center;
	padding: var(--base-padding);
	margin: calc(2 * var(--base-margin)) 0 0 0;
	background-color: var(--main-bg-color-darker-1);
	border-radius: var(--base-rounding);
}

#spacer1 {
	grid-area: spacer1;
}
#spacer2 {
	grid-area: spacer2;
}

.userpage, .threadpage {
	grid-template-columns: 15vw 1fr 1fr 15vw;
	grid-template-areas:
		"a header-container header-container b"
		"a userthreads userthreads b";
}

.center-grid {
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

.content-block,
#userthreads {
	width: 100%;
}

#userthreads > .mid-header {
	margin-left: var(--base-margin);
	margin-bottom: calc(var(--base-margin) * 4);
}

.thread-full {
	padding-top: calc(var(--base-padding) - 0.2em) !important;
}

#reply-thread {
	margin: calc(-1 * var(--base-padding));
	margin-top: var(--base-margin);
}

.content-block {
	background-color: hsl(var(--main-bg-color-hs), 15%);
	padding: var(--base-padding);
	height: fit-content;
	border-radius: var(--base-rounding);
	max-height: inherit;
	scrollbar-width: none;
	margin: calc(-1 * var(--base-padding));
}

.content-block-form {
	width: calc(100% + var(--base-padding) * 2 - var(--thick-border-width) * 2);
	margin: calc(-1 * var(--base-padding));
	margin-bottom: 0;
	padding: 0;
	line-height: 2em;
	background-color: var(--main-bg-color);
	border: var(--thick-border-width) solid hsl(var(--main-bg-color-hs), 15%);
	border-radius: var(--base-rounding);
}

.content-block-form > input {
	width: calc(100% - var(--base-padding) * 2);
	border: none;
	margin: 0;
	padding: var(--base-padding);
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	border-radius: var(--base-rounding);
}

input:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.timeago {
	float: right;
}

.account_registered:before {
	content: "registered ";
}

.reply {
	margin-left: var(--base-padding);
}