{% extends "base.html.j2" %}
{% block title %}error 404{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>error 404</h1>
    <p class="important">
      user or page doesn't exist
    </p>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}