{% extends "base.html.j2" %}
{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content index">
	<div id="userthreads" class="content-block">
		<form id="start-thread" class="content-block-form" action="/thread/post" method="POST">
			<input type="text" name="message" placeholder="start thread" autofocus>
		</form>
		<div class="thread-container">
			{% for thread in threads %}
			{% include 'threads-partial.html.j2' %}
			{% endfor %}
		</div>
	</div>
	<div id="watched-user-threads" class="content-block">
		<form id="search-followed" class="content-block-form" action="/foo" method="POST">
			<input type="text" name="message" placeholder="filter messages from followed users (not implemented)">
		</form>
		<div class="thread-container">
			{% if watched %}
			{% for thread in watched %}
			{% include 'threads-partial.html.j2' %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div id="search-results" class="content-block">
		<div id="search-form" class="content-block-form">
			<input type="text" name="search" id="search" placeholder="search users (leave empty to list all)">
		</div>
		<div id="search-container">
		</div>
	</div>
</div>
{% endblock %}