{% extends "base.html.j2" %}
{% block title %}index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>login</h1>
    <form action="/login/post" method="POST">
        <div>username: <input type="text" name="username"></div>
        <div>password: <input type="text" name="password"></div>
        <div><input type="submit" value="send"></div>
    </form>
{% endblock %}