{% extends "base.html.j2" %}
{% block title %}login{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div id="login">
    <form action="/login/post" method="POST">
        <div><input type="text" name="username" placeholder="username"></div>
        <div><input type="password" name="password" placeholder="password"></div>
        <div><input type="submit" value="send" style="display:none;"></div>
    </form>
</div>
{% endblock %}