{% extends "base.html" %}
{% block title %}register{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<!-- reusing login page because :lazy: -->
<!-- should consider just using the same template for both -->
<div class="content loginpage center-grid">
    <div id="login">
        <h1 id="register-login-header">register</h1>
        <form id="login-form" class="content-block-form" action="/register/post" method="POST">
            <input required type="text" name="username" placeholder="username">
            <input required type="password" name="password" placeholder="password">
            <input type="submit" value="send" style="display:none;">
        </form>
    </div>
</div>
{% endblock %}