{% extends "base.html.j2" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% if username %}
        <h1>thread {{ thread_messages[0].thread_id }}</h1>
        <form action="/thread/reply" method="POST">
            <div>reply to thread:
                <input type="text" name="reply" required>
                <input type="hidden" name="thread_id" value="{{ thread_messages[0].thread_id }}" required readonly>
            </div>
        </form>
        <br>
        {% for message in thread_messages %}
            <div><a href="/user/{{ message.user_id }}">{{ message.username }}</a>, <a href="/thread/{{ message.thread_id }}"><time datetime="{{ message.created_at }}"></time></a></div> </div>{{ message.message }}</div>
        {% endfor %}
    {% else %}
        <div>you're not logged in :|</div>
        <div>go to <a href="/login">login page</a> or <a href="/register">register</a></div>
    {% endif %}
{% endblock %}