{% extends "base.html.j2" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
{% if username %}
<div class="content threadpage center-grid">
    <div id="userthreads" class="content-block thread-full">
        {% set is_thread = true %}
        <div class="thread-container">
            {% for thread in thread_messages %}
            {% include 'threads-partial.html.j2' %}
            {% endfor %}
        </div>
        <form id="reply-thread" class="content-block-form" action="/thread/reply" method="POST">
            <input type="text" name="reply" placeholder="reply to thread">
            <input type="hidden" name="thread_id" value="{{ thread_messages[0].thread_id }}" required readonly>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

<!-- 
<div><a href="/user/{{ message.user_id }}">{{ message.username }}</a>, <a href="/thread/{{ message.thread_id }}"><time datetime="{{ message.created_at }}"></time></a></div> </div>{{ message.message }}</div>
-->