{% extends "base.html" %}
{% block title %}{{ viewed_username }}'s page{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content userpage center-grid">
    <div id="header-container">
        <div id="userpage-header">{{viewed_username}}'s page</div>
        {% if viewer_id == viewed_id %}
        {% elif is_followed == false %}
        <div id="follow-unfollow"><a href="/follow/{{ viewed_id }}">follow {{ viewed_username }}</a></div>
        {% else %}
        <div id="follow-unfollow"><a href="/unfollow/{{ viewed_id }}">unfollow {{ viewed_username }}</a></div>
        {% endif %}
    </div>
    <div id="userthreads" class="content-block">
        <div class="thread-container">
            <div class="list-item" style="text-align:center;">{{viewed_username}}'s posts</div>
            {% if threads|length %}
            {% for thread in threads %}
            {% include 'threads-partial.html' %}
            {% endfor %}
            {% else %}
            <div style="text-align:center;">it doesn't look like {{ viewed_username }} has posted anything yet...
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}