{% extends "base.html" %}
{% block title %}{{ viewed_username }}'s page{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content userpage center-grid">
    <div id="header-container">
        <div id="userpage-header">{{viewed_username}}'s page</div>
        {% if viewer_id == viewed_id %}
        {% else %}
        <div id="follow-unfollow">
            <form action="/follow/{{ viewed_id }}" method="POST">
                {% if is_followed == false %}
                <input type="submit" name="follow" value="follow {{ viewed_username }}" />
                {% else %}
                <input type="submit" name="unfollow" value="unfollow {{ viewed_username }}" />
                {% endif %}
		        <input id="csrf_token" type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        {% endif %}
        
    </div>
    <div id="userthreads" class="content-block">
        <div class="thread-container">
            <div class="list-item" style="text-align:center;">{{viewed_username}}'s posts</div>
            {% if threads|length %}
            {% for thread in threads %}
            {% include 'threads-partial.html' %}
            {% endfor %}
            {% else %}
            <div style="text-align:center;">it doesn't look like {{ viewed_username }} has posted anything yet...
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}