{% extends "base.html.j2" %}
{% block title %}{{ username }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content userpage center-grid">
    {% if viewer_id == viewed_id %}
    {% elif is_followed == false %}
    <div><a href="/follow/{{ viewed_id }}">follow {{ viewed_username }}</a /></div>
    {% else %}
    <div><a href="/unfollow/{{ viewed_id }}">unfollow {{ viewed_username }}</a /></div>
    {% endif %}
    <div id="userthreads" class="content-block">
        <div class="thread-container">
            {% if threads|length %}
            {% for thread in threads %}
            {% include 'threads-partial.html.j2' %}
            {% endfor %}
            {% else %}
            <div style="text-align:center;">it doesn't look like {{ viewed_username }} has posted anything yet...</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}